:root{
    --gradiente-azul: linear-gradient(90deg, #002F52 35%, #326589 165%);
    --header-background-color: #e0d9e3;
    --display-flex: flex;
}

.App{
    background-image: var(--gradiente-azul);
    width: 100vw;
    height: 100vh;
}

li{
    list-style: none;
}